@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --clr-primary: 12 69% 44%;
  --clr-secondary: 226 31% 25%;

  --clr-primary-hsl: hsl(var(--clr-primary));
  --clr-secondary-hsl: hsl(var(--clr-secondary));

  --main-font-family: "Popins" sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  --border-raduis: 1rem;
  --nav-links-border: 2px solid var(--clr-primary-hsl);

  position: relative;
  color: white;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  min-height: 100vh;
  font-family: var(--main-font-family);
  background: var(--clr-secondary-hsl);
}

*,
*::before *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
}

ul.horizontal {
  display: flex;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  background-color: var(--clr-primary-hsl);
}

button {
  border: 0;
  display: block;
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  color: white;
  background: var(--clr-primary-hsl);
  cursor: pointer;
}

section {
  padding-block: 3rem;
}

.page-title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;

  text-underline-offset: 1rem;
  text-decoration: 2px underline var(--clr-primary-hsl);

  &~p {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
}

textarea {
  resize: none;
}

/* navbar */
nav {
  padding-block: 10px;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-primary-hsl);
}

nav .links a {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  border: var(--nav-links-border);
}

/* about content */
section.about-content p {
  padding: 1rem;

  & p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

/* help */
section.help .help-options {
  display: flex;
  gap: 3rem;
  justify-content: center;

  & a {
    font-size: 1.8rem;
    flex-basis: 10rem;
    text-align: center;
    padding: 1.5rem 2rem;
    border: var(--nav-links-border);
    border-radius: var(--border-raduis);
  }
}

section.help-content h3 {
  padding: 1rem;
  font-size: 3rem;
}

/* faq */
.help-content .faq .question {
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  background-color: rgb(0 0 0 / 0.2);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & p:first-of-type {
    font-size: 2.5rem;
    transition: color 0.5s;
    margin-bottom: 1rem;
  }

  &:hover p:first-of-type {
    color: var(--clr-primary-hsl);
  }
}

/* contact */
.help-content .contact label {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 2rem;

  &+* {
    outline: none;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: var(--border-raduis);
  }
}

/* Error page */
.not-found {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .error-message span {
    font-size: 5rem;
    color: var(--clr-primary-hsl);
  }

  & a {
    text-decoration: underline;
    color: var(--clr-primary-hsl);
  }
}

/* careers list */
section.careers-content h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

section.careers-content .career-card {
  border-radius: var(--border-raduis);
  padding: 2rem;
  background-color: rgb(0 0 0 / 0.2);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover h3 {
    color: var(--clr-primary-hsl);
  }
}

/* careers details */
.career-details {
  border-radius: var(--border-raduis);
  padding: 2rem;
  background-color: rgb(0 0 0 / 0.2);
  font-size: 1.8rem;

  & h3 {
    margin-bottom: 1.5rem;
  }

  & span {
    color: var(--clr-primary-hsl);
  }
}

/* breadcrumbs */
.careers-error {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & h3 {
    font-size: 4rem;
    color: var(--clr-primary-hsl);
  }

  & p {
    font-size: 3rem;
  }

  & span {
    text-decoration: underline;
    color: var(--clr-primary-hsl);
  }
}

/* location tracker */
.bread-crumbs li:not(:last-child)::after {
  content: ">";
  margin-left: 1rem;
  color: var(--clr-primary-hsl);
}

.bread-crumbs li a {
  font-size: 1.8rem;
}

/* container */
.container {
  margin: auto;
  padding-inline: 2rem;
  max-width: 900px;
}