@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --clr-primary: 12 69% 44%;
  --clr-secondary: 226 31% 25%;

  --clr-primary-hsl: hsl(var(--clr-primary));
  --clr-secondary-hsl: hsl(var(--clr-secondary));

  --main-font-family: "Popins" sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  --border-raduis: 1rem;
  --nav-links-border: 2px solid var(--clr-primary-hsl);

  position: relative;
  color: white;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  min-height: 100vh;
  font-family: var(--main-font-family);
  background: var(--clr-secondary-hsl);
}

*,
*::before *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  list-style: none;
}

ul.horizontal {
  display: flex;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  background-color: var(--clr-primary-hsl);
}

button {
  display: block;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  color: white;
  background: var(--clr-primary-hsl);
  cursor: pointer;
}

section {
  padding-block: 3rem;
}

.main-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;

  text-underline-offset: 1rem;
  text-decoration: 2px underline var(--clr-primary-hsl);
}

/* navbar */
nav {
  padding-block: 10px;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-primary-hsl);
}

nav .links a {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  border: var(--nav-links-border);
}

/* about content */
section.about-content p {
  padding: 1rem;

  & p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

/* help layout */
section.help-nav .help-options {
  display: flex;
  gap: 3rem;
  justify-content: center;

  & a {
    font-size: 1.8rem;
    flex-basis: 10rem;
    text-align: center;
    padding: 1.5rem 2rem;
    border: var(--nav-links-border);
    border-radius: var(--border-raduis);
  }
}

section.help-content h3 {
  padding: 1rem;
  font-size: 3rem;
}

/* faq */
.help-content .faq .question {
  padding: 1rem 1.5rem;
  border-radius: var(--border-raduis);
  background-color: hsl(var(--clr-primary));

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & p:first-of-type {
    font-size: 2.5rem;
    color: var(--clr-secondary-hsl);
  }
}

/* contact */
.help-content .contact label {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;


  &+* {
    margin-bottom: 2rem;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-raduis);
  }
}

/* Error page */
.not-found {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .error-message span {
    font-size: 5rem;
    color: var(--clr-primary-hsl);
  }

  & a {
    text-decoration: underline;
    color: var(--clr-primary-hsl);
  }
}

/* careers list */


/* careers details */


/* breadcrumbs */


/* container */
.container {
  margin: auto;
  padding-inline: 2rem;
  max-width: 900px;
}